#AccountSettingsMain{
width: 80%;
margin-left: 10%;
height: 70vh;
background-color: rgb(101, 101, 101);
display:flex;
flex-direction: column;

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;
}
#firstname{
    margin-top: 35px;
}
.AccountSet{
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 10px;
    border-style:solid;
    border-color:rgb(41, 42, 46);
}

.AccountSet:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
}

#EditUser{

width: 80%;
background-color: rgb(101, 101, 101);
height: 60vh;

flex-direction: column;
z-index: 3;
display: flex;
visibility: hidden;

position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;

overflow-y: auto;
}
#DeleteUser{

width: 80%;
background-color: rgb(101, 101, 101);
height: 30vh;

flex-direction: column;
z-index: 3;
display: flex;
visibility: hidden;

position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;

overflow-y: auto;
}

#buttonbar{
    display: flex;
    
    margin-top: 30px;
    height: 45px;
}

.button{
    margin-top: 20px;
    height: 45px;
    width: 20%;
    margin-left: 20%;
    margin-bottom: 30px;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(-45deg, darkgoldenrod 40%,  rgb(216, 159, 14) 50%,  darkgoldenrod 60%); 
    background-size: 300%;
    background-position-x: 100%;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color: rgb(170, 125, 11);
    filter: drop-shadow(2px 2px 15px rgba(170, 125, 11, 0.541));
    box-shadow: 0 8px rgb(134, 99, 9);
    
}

.button:focus, .button:hover
{
     border-color: rgb(170, 125, 11);
    animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
   to {
      background-position-x: 0%
   }
}

.button:active {
  background-color:  rgb(167, 122, 10);
  box-shadow: 0 4px rgb(134, 99, 9);
  transform: translateY(4px);
}

.edituser{
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 10px;
    border-style:solid;
    border-color:rgb(41, 42, 46);
}

.edituser:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
}
#Warning{
    margin-top: 5%;
    font-size: x-large;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content:center;
    color: white;
    text-shadow: 1px 1px 2px rgb(175, 173, 173);
}
#edittitle{
    margin-top: 15px;
    font-size: x-large;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content:center;
    color: white;
    text-shadow: 1px 1px 2px rgb(175, 173, 173);
}
#MainTitle{
    margin-top: 5%;
    font-size: x-large;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content:center;
    color: white;
    text-shadow: 1px 1px 2px rgb(175, 173, 173);
}

#edituserbtn,#deleteuserbtn{
    margin-top: 20px;
    height: 45px;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 30px;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(-45deg, darkgoldenrod 40%,  rgb(216, 159, 14) 50%,  darkgoldenrod 60%); 
    background-size: 300%;
    background-position-x: 100%;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color: rgb(170, 125, 11);
    filter: drop-shadow(2px 2px 15px rgba(170, 125, 11, 0.541));
    box-shadow: 0 8px rgb(134, 99, 9);
    
}

#edituserbtn,#deleteuserbtn:focus, #edituserbtn,#deleteuserbtn:hover
{
     border-color: rgb(170, 125, 11);
    animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
   to {
      background-position-x: 0%
   }
}

#edituserbtn,#deleteuserbtn:active {
  background-color:  rgb(167, 122, 10);
  box-shadow: 0 4px rgb(134, 99, 9);
  transform: translateY(4px);
}
#editfirst{
    margin-top: 15px;
}

#exit{
    width: 35px;
    height: 35px;
    margin-left: 96.5%;
    margin-top: 5px;
    position: absolute;

    text-align: center;
    font-size: 20pt;
    color: rgb(255, 176, 176);
    background-color: rgba(255, 255, 255, 0);
    border-width: 0px;
}

#exit:hover{
    cursor: pointer;
}