#root{
    background-color: rgb(53, 53, 53);
    height: 100vh;
}




#TitleBorder{
    background-color: darkgoldenrod;
    width: 80%;
    margin-left: 10%;
    min-height: 100px;
    
    display: flex;
    text-align:center;
    justify-content: center;
    margin-bottom: 5%;

    border-radius: 20px;
    border-width: 3px;
    border-style:solid;
    border-color:black;
    
}

#title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    
}

#loginDiv{

width: 80%;
margin-left: 10%;
height: 50vh;
background-color: rgb(101, 101, 101);
display:flex;
flex-direction: column;

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;

}
#inner-title{
    margin-top: 5%;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content:center;
    
    
}
#loginName{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}

#loginName:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}
#loginPassword{
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
    
}
#loginPassword:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
}
#loginButton{
    margin-top: 20px;
    height: 35px;
    width: 10%;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}


#loginButton:hover{
    
    outline-color: darkgoldenrod;
    outline-style: solid;
    cursor: pointer;

}



#EmailMain{

width: 80%;
margin-left: 10%;
height: 50vh;
background-color: rgb(101, 101, 101);
display:flex;
flex-direction: column;

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;

}

#EmailButton{
    margin-top: 20px;
    height: 35px;
    width: 10%;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}


#EmailButton:hover{
    
    outline-color: darkgoldenrod;
    outline-style: solid;
    cursor: pointer;

}