@font-face
{
    font-family: Tangerine;
    src: url('../assets/Tangerine-Bold.ttf') format('truetype');
}

#root{
    background-color: rgb(24, 23, 27);
    height: 100vh;
    margin: 0;
    padding: 0;
}

#TitleBorder{
    background-color: darkgoldenrod;
    width: 100%;
    min-height: 80px;
    
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;

    border-width: 3px;
    border-style:solid;
    border-color:rgb(167, 122, 9);
    
}

#title{
    height: 80px;
    margin-left: 15px;
}

#loginDiv{

width: 60%;
margin-left: 20%;
background-color: rgb(56, 56, 61);
display:flex;
flex-direction: column;

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:rgb(41, 42, 46);

}

.inner-title{
    margin-top: 5%;
    font-size: x-large;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content:center;
    color: white;
    text-shadow: 1px 1px 2px rgb(175, 173, 173);
}

#loginResult{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: rgb(231, 67, 67);
    font-weight: bold;
}

#loginName, #loginPassword
{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 10px;
    border-style:solid;
    border-color:rgb(41, 42, 46);
    
}

#loginPassword{
    margin-top: 20px;  
}

#loginName:hover, #loginPassword:hover {
    border-color: darkgoldenrod;
    animation: glow 0.5s ease-in-out infinite alternate;
}

#loginName:focus, #loginPassword:focus,
#loginButton:focus, a:focus {
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
}

@keyframes glow 
{
    from { filter: brightness(1); }
    to { filter: brightness(1.3); }
}

#loginButton{
    margin-top: 20px;
    height: 45px;
    width: 20%;
    margin-left: 40%;
    display: flex;
    justify-content: center;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(-45deg, darkgoldenrod 40%,  rgb(216, 159, 14) 50%,  darkgoldenrod 60%); 
    background-size: 300%;
    background-position-x: 100%;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color: rgb(170, 125, 11);
    filter: drop-shadow(2px 2px 15px rgba(170, 125, 11, 0.541));
    box-shadow: 0 8px rgb(134, 99, 9);
    
}

#loginButton:focus, #loginButton:hover
{
     border-color: rgb(170, 125, 11);
    animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
   to {
      background-position-x: 0%
   }
}

#loginButton:active {
  background-color:  rgb(167, 122, 10);
  box-shadow: 0 4px rgb(134, 99, 9);
  transform: translateY(4px);
}

a
{
    color: rgb(219, 161, 14);
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
}

a:visited
{
    color: rgb(184, 80, 11);
}

#passReset
{
    margin-left: 27%;
    margin-top: 1%;
}

#regLink
{
    margin-left: 3%;
    color: white;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
}

#tempLink
{
    justify-content: center;
}

#EmailMain{

width: 80%;
margin-left: 10%;
height: 50vh;
background-color: rgb(101, 101, 101);
display:flex;
flex-direction: column;

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;

}

#EmailButton{
    margin-top: 20px;
    height: 35px;
    width: 10%;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}


#EmailButton:hover{
    
    outline-color: darkgoldenrod;
    outline-style: solid;
    cursor: pointer;

}

.headerBtn
{
    display: flex;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    visibility: hidden;
    width: 190px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0);
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 5px solid rgb(167, 122, 9);
    cursor: pointer;
    position: absolute;
}
#main{
    margin-left: 50%;
}

#notifs
{
    margin-left: 60%;
    visibility: 'hidden';
}

#account
{
    margin-left: 70%;
}

#about
{
    margin-left: 80%;
}

#logout
{
    margin-left: 90%;
}
.headerBtn:active
{
    background-color: rgb(167, 122, 9);
}

