#MainUIDiv{
width: 80%;
margin-left: 10%;
height: 70vh;
background-color: rgb(101, 101, 101);
display:flex;
flex-direction: column;

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;
}
#LostItemPage{
height: 50vh;
background-color: rgb(101, 101, 101);
display:flex;
flex-direction: column;

overflow-y: scroll;
}
#AddItemPopup{
width: 80%;
background-color: rgb(101, 101, 101);

flex-direction: column;
z-index: 3;
display: none;

position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;

}
#ButtonHolster{
display: flex;
flex-direction: row;
padding-right: 20px;

}

#title,#lat,#long{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}
#title:focus,#lat:focus,#long:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}

#locationText{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}
#locationText:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}

#name{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}
#name:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}

#email{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}
#email:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}

#addItemButton{
    margin-top: 20px;
    height: 35px;
    width: 10%;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
}
#addItemButton:hover{
    outline-color: darkgoldenrod;
    outline-style: solid;
    cursor: pointer;
}

#searchItemButton{
    margin-top: 20px;
    height: 35px;
    width: 10%;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
}
#searchItemButton:hover{
    outline-color: darkgoldenrod;
    outline-style: solid;
    cursor: pointer;
}