#MainUIDiv{
width: 80%;
margin-left: 10%;
height: 75vh;
background-color: rgb(101, 101, 101);
flex-direction: column;

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;
}

#LostItemPage{
display: none;

height: 50vh;
width: 50%;
background-color: rgb(101, 101, 101);
flex-direction: column;
float: left;
overflow-y: auto;
overflow-x: auto;
border-bottom: 5px solid rgb(50, 50, 50);
}

#NoItemPage{
display: none;

height: 50vh;
width: 50%;
background-color: rgb(101, 101, 101);
flex-direction: column;
float: left;
overflow-y: auto;
overflow-x: auto;
border-bottom: 5px solid rgb(50, 50, 50);
}

#homeHeader
{
    margin-top: 2%;
    margin-bottom: 2%;
}

.ItemContainers
{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    display:flex;
    height: 50px;
    width: 99%;
    justify-content: center;
    flex-shrink: 0;
}

.containerInput
{
    background-color: rgb(239, 220, 174);
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

#ContainerTitle
{
    border-right: 0px;
    width: 24%;

}

#ContainerStatus
{
    text-align: center;
    width: 24%;
    border-left: 0px;
}

.containerBtn
{
    border-radius: 8px;
    font-family:  'Rockwell', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
}

#ContainerData
{
    margin-left: 5px;
    width: 20%;
    background-color: rgb(12, 53, 100);
    color: white;
    border-style: solid;
    border-color: rgb(7, 36, 69);
    border-width: 1px;
    background-image:url('../assets/View.webp') no-repeat ;
}

#ContainerEdit, #ContainerDelete
{
    width: 13%;
}

#ContainerEdit
{
    background-color: rgb(177, 108, 17);
    color: white;
    border-style: solid;
    border-color: rgb(121, 74, 12);
    border-width: 1px;
    background-image:url('../assets/edit.webp') no-repeat ;
}

#ContainerDelete
{
    background-color: rgb(175, 11, 11);
    color: white;
    border-style: solid;
    border-color: rgb(110, 1, 1);
    border-width: 1px;
    background-image:url('../assets/delete.webp') no-repeat ;
}

#statusFilter, #categoryFilter
{
    width: 80%;
    margin-left: 10%;
}

#SearchBar
{
    float: right;
    height: 50vh;
    width: 50%;
    position: relative;
    display: column;
    justify-content: center;
    border-bottom: 5px solid rgb(50, 50, 50);
}

#Searchtab
{
    margin-top: 15px;
    justify-content: center;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    height: 4vh;
    border-color:rgb(41, 42, 46);
    border-style: solid;
    text-align: center;
    font-family:  'Rockwell', 'Arial Narrow', Arial, sans-serif;
}

#Searchitem
{
    justify-content: center;
    margin-left: 0%;
}

#AddItemPopup,#EditItemPopup,#ViewItemPopup{
width: 80%;
background-color: rgb(101, 101, 101);
height: 90vh;

flex-direction: column;
z-index: 3;
display: flex;
visibility: hidden;

position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;

overflow-y: auto;
}



#ButtonHolster
{ 
    display: flex;
    clear: both;
    margin-top: 30px;
    height: 45px;
}

#itemTitle, #Desc, #locationText, #viewDesc, #ImageUp {
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 10px;
    border-style:solid;
    border-color:rgb(41, 42, 46);
}

#imgContainer
{
    height: 15vh;
    overflow: hidden;
    margin-bottom: 15px;
    display: flex;
}

#reportImg
{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

#itemTitle
{
    float: left;
}

#Desc
{
    min-height: 100px;
    float: right;
}

/* Removed #title*/
#lat,#long{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}

.filter
{
    margin-top: 15px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 25px;
    font-size: medium;
    border-width: 3px;
    border-radius: 5px;
    border-style:solid;
    border-color:rgb(41, 42, 46);
    
}

#title:focus,#lat:focus,#long:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}

#locationText:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}

#name{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}
#name:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}

#email{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}
#email:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}

.leaflet-container
{
    height: 325px;
    width: 60%;
    margin-left: 20%;  
}

#reportHeader
{
    text-align: center;
    color: white;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(175, 173, 173);
}

#map
{
    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
}

#exitReport,#exitReportEdit,#ViewReportView
{
    width: 35px;
    height: 35px;
    margin-left: 96.5%;
    margin-top: 5px;
    position: absolute;

    text-align: center;
    font-size: 20pt;
    color: rgb(255, 176, 176);
    background-color: rgba(255, 255, 255, 0);
    border-width: 0px;

}

#exitReport:hover,#exitReportEdit:hover,#ViewReportView:hover
{
    cursor: pointer;
}

.button{
    margin-top: 20px;
    height: 45px;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 30px;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(-45deg, darkgoldenrod 40%,  rgb(216, 159, 14) 50%,  darkgoldenrod 60%); 
    background-size: 300%;
    background-position-x: 100%;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color: rgb(170, 125, 11);
    filter: drop-shadow(2px 2px 15px rgba(170, 125, 11, 0.541));
    box-shadow: 0 8px rgb(134, 99, 9);
    
}

.button:focus, .button:hover
{
     border-color: rgb(170, 125, 11);
    animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
   to {
      background-position-x: 0%
   }
}

.button:active {
  background-color:  rgb(167, 122, 10);
  box-shadow: 0 4px rgb(134, 99, 9);
  transform: translateY(4px);
}

#reportButton
{
    justify-content: center;
}

#addItemButton
{
    height: 100%;
    width: 20%;
    margin-left: 40%;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
}

#addItemButton:hover{
    outline-color: darkgoldenrod;
    outline-style: solid;
    cursor: pointer;
}

#searchItemButton:hover{
    outline-color: darkgoldenrod;
    outline-style: solid;
    cursor: pointer;
}

#itemAddResult{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: rgb(231, 67, 67);
    font-weight: bold;
}

.default
{
    color:rgb(101, 101, 101);
}

#viewLabel
{
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: white;
    margin-left: 30%;
    margin-top: 15px;
}

#viewDesc
{
    margin-top: 5px;
    text-align: center;
}

#CategoryView
{
    text-align: center;
    margin-top: 5px;
}