#MainUIDiv{
width: 80%;
margin-left: 10%;
height: 70vh;
background-color: rgb(101, 101, 101);
display:flex;
flex-direction: column;

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;
}
#LostItemPage{
height: 50vh;
background-color: rgb(101, 101, 101);
display:flex;
flex-direction: column;

overflow-y: scroll;
}

#AddItemPopup{
width: 80%;
background-color: rgb(101, 101, 101);

flex-direction: column;
z-index: 3;
display: flex;
visibility: hidden;

position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;

}

#ButtonHolster{
display: flex;
flex-direction: row;
padding-right: 20px;

}

#itemTitle, #Desc, #locationText, #ImageUp{
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 10px;
    border-style:solid;
    border-color:rgb(41, 42, 46);
}

#itemTitle
{
    float: left;
}

#Desc
{
    min-height: 100px;
    float: right;
}

/* Removed #title*/
#lat,#long{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}

#category
{
    margin-top: 15px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 25px;
    font-size: medium;
    border-width: 3px;
    border-radius: 5px;
    border-style:solid;
    border-color:rgb(41, 42, 46);
    
}

#title:focus,#lat:focus,#long:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}

#locationText:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}

#name{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}
#name:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}

#email{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
    
}
#email:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
    
}

#addItemButton{
    margin-top: 20px;
    height: 35px;
    width: 10%;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
}
#addItemButton:hover{
    outline-color: darkgoldenrod;
    outline-style: solid;
    cursor: pointer;
}

#searchItemButton{
    margin-top: 20px;
    height: 35px;
    width: 10%;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
}
#searchItemButton:hover{
    outline-color: darkgoldenrod;
    outline-style: solid;
    cursor: pointer;
}

.leaflet-container
{
    height: 325px;
    width: 60%;
    margin-left: 20%;  
}

#reportHeader
{
    text-align: center;
    color: white;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(175, 173, 173);
}

#map
{
    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
}

.reportButton
{
    margin-bottom: 30px;
}