#ViewNotif{
width: 80%;
margin-left: 10%;
height: 75vh;
background-color: rgb(101, 101, 101);
flex-direction: column;

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;
}