#NotificationMain{
width: 80%;
margin: auto;
height: 75vh;
background-color: rgb(101, 101, 101);
flex-direction: column;

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;
}

#NotificationView{
    width: 10%;
    background-color: rgb(12, 53, 100);
    color: white;
    border-style: solid;
    border-color: rgb(7, 36, 69);
    border-width: 1px;
    background-image:url('../assets/View.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#NotificationRead{
    width: 10%;

}

#NotificationDelete{
    width: 10%;
    background-color: rgb(175, 11, 11);
    color: white;
    border-style: solid;
    border-color: rgb(110, 1, 1);
    border-width: 1px;
    background-image:url('../assets/delete.webp') ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#NotifPage{
display: none;

height: 60vh;
width: 100%;
background-color: rgb(101, 101, 101);
flex-direction: column;
float: left;
overflow-y: auto;
clip-path:fill-box;

border-bottom: 5px solid rgb(50, 50, 50);

border-width: 3px;
border-radius: 20px;
border-bottom-style: outset;
border-color: #000;


text-align: center;
}

#NotifPage::-webkit-scrollbar{
width: 10px;    
border-width: 3px;
border-radius: 16px;
background-color: whitesmoke;
}

#NotifPage::-webkit-scrollbar-thumb{
    min-height: 30px;
    background: black;
    border-radius: 16px;
}


#NoNotif{
display: none;

height: 50vh;
width: 100%;
background-color: rgb(101, 101, 101);
flex-direction: column;
float: left;
overflow-y: auto;
overflow-x: auto;
border-bottom: 5px solid rgb(50, 50, 50);
}

#ViewNotIf{
width: 40%;
background-color: rgb(101, 101, 101);
height: 60vh;

flex-direction: column;
z-index: 3;
display: flex;
visibility: hidden;

position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;

overflow-y: auto;
}

#buttonholder
{ 
    display: flex;
    clear: both;
    margin-top: 30px;
    height: 45px;
}

.NotifButton{
    margin-top: 20px;
    height: 45px;
    width: 20%;
    margin-left: 10%;
    margin-bottom: 30px;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(-45deg, darkgoldenrod 40%,  rgb(216, 159, 14) 50%,  darkgoldenrod 60%); 
    background-size: 300%;
    background-position-x: 100%;

    

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color: rgb(170, 125, 11);
    filter: drop-shadow(2px 2px 15px rgba(170, 125, 11, 0.541));
    box-shadow: 0 8px rgb(134, 99, 9);
}

#ViewButtonBar{
    display: flex;
    clear: both;
    margin-top: 30px;
    height: 45px;
    visibility: hidden;
}

#readAll{
background-image:url('../assets/read-all.webp') ;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

#readAll{
background-color: darkgoldenrod;
color: white;
border-style: solid;
border-color: darkgoldenrod;
border-width: 1px;    
background-image:url('../assets/delete\ all.webp') ;
background-size:contain;
background-repeat: no-repeat;
background-position: center;
}

#deleteAll{
background-color: darkgoldenrod;
color: white;
border-style: solid;
border-color: darkgoldenrod;
border-width: 1px;    
background-image:url('../assets/delete\ all.webp') ;
background-size:contain;
background-repeat: no-repeat;
background-position: center;
}

#Contest{
width: 40%;
background-color: rgb(101, 101, 101);
height: 50vh;

flex-direction: column;
z-index: 3;
display: flex;
visibility: hidden;

position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

border-width: 3px;
border-radius: 20px;
border-style:solid;
border-color:black;

overflow-y: auto;
}
#NotifMain{
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    min-height: 150px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
}

#NotifLoc,#NotifTime{
    display: none;
}

.NotifData,.NotifMeetUp{
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
}

.NotifData:focus,.NotifMeetUp:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
}

.Contest{
    width: 50%;
    margin-left: 25%;
    display:flex;
    justify-content: center;
    height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-width: 3px;
    border-radius: 20px;
    border-style:solid;
    border-color:black;
}

.Contest:focus{
    outline-color: darkgoldenrod;
    outline-style: solid;
    outline-width: 3px;
}

.bottombutton{
    margin-top: 20px;
    height: 60px;
    width: 10%;
    margin-left: 25%;
    margin-bottom: 30px;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(-45deg, darkgoldenrod 40%,  rgb(216, 159, 14) 50%,  darkgoldenrod 60%); 
    background-size: 300%;
    background-position-x: 100%;

    

    border-width: 3px;
    border-radius: 20px;
    
    border-color: rgb(170, 125, 11);
    filter: drop-shadow(2px 2px 15px rgba(170, 125, 11, 0.541));
    box-shadow: 0 8px rgb(134, 99, 9);
}

.NotifContainers{
    margin-top: 5px;
    margin-bottom: 2px;
    
    display:flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    flex-shrink: 0;

   
    background-size: 300%;
    background-position-x: 100%;
}

#NotificationTitle{
    border-right: 0px;
    width: 48%;
    margin-right: 10px;
    filter: drop-shadow(1px 0.5px 1px black)
}

#NotificationMeetup{
    text-align: center;
    width: 12%;
    border-left: 0px;

}

.NotIfBtn{
    border-radius: 8px;
    font-family:  'Rockwell', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
}

#Intro,#SenderInfo,#ItemInfo{
    margin-top: 10px;
    font-size: x-large;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content:center;
    color: white;
    text-shadow: 1px 1px 2px rgb(175, 173, 173);
}
#MeetUpInfo{
    margin-top: 10px;
    font-size: x-large;
    font-family: 'Rockwell', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content:center;
    color: white;
    text-shadow: 1px 1px 2px rgb(175, 173, 173);
    display: none;
}